{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container my-3">
    <div class="my-4">
        <div class="h3">
            Daftar pekerja:
        </div>
        <a href="{% url 'tambah' %}" type="button" class="btn btn-secondary">Tambah pekerja</a>
    </div>
    {% for user in users %}
    <div class="card mb-3 w-75">
        <div class="row g-0">
            <div class="col-md-3 px-3 py-3">
                <img class="profile-img" src="{{ user.photo }}" alt="Terjadi kesalahan saat menampilkan gambar">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">{{ user.name }}</h5>
                    <p class="card-text">
                        {% for skill in skills %} {% if skill.user_id_id == user.id %} {{ skill.name }}, {% endif %} {% endfor %}
                    </p>
                    <a href="{% url 'ubah' user.id %}" class="btn btn-secondary">Ubah</a>
                    <button type="button" class="btn btn-danger mx-3" data-bs-toggle="modal" data-bs-target="#delModal">Hapus pekerja</button>
                </div>
                <!--delete modal-->
                <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="delModalLabel">Hapus pekerja</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Anda yakin ingin menghapus item ({{ user.name }}) ini?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                <a href="{% url 'hapus' user.id %}" class="btn btn-danger">Hapus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}